


<div class="container">
  <h1>Khang 's Blog</h1>
  <% unless notice.nil? %>
  	  <div class="alert alert-success">
	  <strong>Success! </strong> <%= notice %>
	</div>
  <% end %>

  <%= link_to ' Add article', new_article_path, class: 'btn btn-primary	 glyphicon glyphicon-plus-sign',style:'margin-bottom: 10px;' %>
  <%= will_paginate @articles, :class => 'flickr_pagination' %>
    <%= render @articles %>
    <% if @articles.blank? %>
    	<div>
    		No record found !!!
    	</div>
    <% end %>
    

    <%= will_paginate @articles, :class => 'flickr_pagination' %>

  <br>

  
</div>
